html {
    /* Registro */

    position: relative;
    width: 100%;
    margin: 0;

    background: 
        linear-gradient(100deg, rgba(134, 134, 134, 0.6) 17.24%, rgba(0, 0, 0, 0.6) 76.72%),
        url("../imagens/background.png") no-repeat center center;
    background-size: cover;
}

.mako-regular {
    font-family: "Mako", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

form {
    padding-left: 20px; /* Ajuste conforme necessário */
}

#apresentação{ 
    /* Conclua o cadastro para aproveitar todos os serviços que foram feitos para você! */

    position: relative;
    width: 610px;
    height: 164px;
    left: 300px;
    top: 350px;

    font-family: 'Mako';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 43px;
    text-align: center;

    color: rgba(255, 255, 255, 0.5);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1{
    /* Cadastre-se */

    position: absolute;
    width: 234px;
    height: 52px;
    left: 1100px;
    top: 130px;

    font-family: 'Mako';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 51px;

    color: #EDEAEA;

}

#nome{
    /* Input nome */

    position: absolute;
    width: 480px;
    height: 59px;
    left: 1100px;
    top: 213px;
    padding-left: 20px;

    background: #EDEAEA;
    border-radius: 10px;
    font-size: 20px;

}

#nascimento{
    /* Input nascimento */

    position: absolute;
    width: 480px;
    height: 59px;
    left: 1100px;
    top: 292px;
    padding-left: 20px;

    background: #EDEAEA;
    border-radius: 10px;
    font-size: 20px;
    
}

#email{
    /* Input email */

    position: absolute;
    width: 480px;
    height: 59px;
    left: 1100px;
    top: 371px;
    padding-left: 20px;

    background: #EDEAEA;
    border-radius: 10px;
    font-size: 20px;
    
}

#CPF{
    /* Input CPF */

    position: absolute;
    width: 480px;
    height: 59px;
    left: 1100px;
    top: 450px;
    padding-left: 20px;

    background: #EDEAEA;
    border-radius: 10px;
    font-size: 20px;
    
}

#senha{
    /* Input senha */

    position: absolute;
    width: 480px;
    height: 59px;
    left: 1100px;
    top: 529px;
    padding-left: 20px;

    background: #EDEAEA;
    border-radius: 10px;
    font-size: 20px;

}
    
#finalizar{

   /* Botão Finalizar */

    position: absolute;
    width: 510px;
    height: 59px;
    left: 1100px;
    top: 613px;

    background: #000000;
    color: #EDEAEA;
    font-size: 20px;
    border-radius: 10px;
}

#temconta{

    /* Já tem conta? */

    position: absolute;
    width: 234px;
    height: 52px;
    left: 1280px;
    top: 650px;

    font-family: 'Mako';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 51px;

    color: #EDEAEA;

}
